.main-recep_table {
    margin-top: 10vh;
    margin-left: 280px; /* Make space for the sidebar */
    padding: 30px;
    background-color: #f4f4f9;
    min-height: 100vh;
    width: calc(120vh - 20px);
    transition: margin-left 0.3s;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .confirmed-appointments ul {
    list-style: none;
    padding: 0;
  }
  
  .confirmed-appointments li {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .confirmed-appointments li:last-child {
    border-bottom: none;
  }
  
  .schedule_app {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .schedule_app:hover {
    background-color: #0056b3;
  }
  