.admin-page {
  display: flex;
}

.admin-content {
  margin-left: 250px; /* Adjust according to Sidebar width */
  padding: 20px;
  width: 100%;
}

.search-input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.metrics-container {
  margin-bottom: 30px;
}

.metrics-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.notifications-container {
  margin-bottom: 30px;
}

.notifications-container ul {
  list-style-type: none;
  padding: 0;
}

.notifications-container li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

.notifications-container li:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
