.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-right: 60%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-right: -110%;
}

/* Sidebar Styling */
.sidebar {
  background-color: #f2f8f2; /* Light green/white sidebar */
  padding: 20px;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 900; /* Slightly behind the header */
  overflow-y: auto;
}

/* Sidebar links */
.sidebar a, 
.sidebar .NavLink {
  display: block;
  padding: 10px 20px;
  color: #2c3e50; /* Dark text for readability */
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover,
.sidebar .NavLink:hover {
  background-color: #a8e6a3; /* Hover effect with light green background */
  color: #fff; /* White text on hover */
}

.sidebar .active {
  background-color: #4caf50; /* Highlight active link */
  color: #fff;
}

/* Add some spacing between sidebar items */
.sidebar a + a, 
.sidebar .NavLink + .NavLink {
  margin-top: 5px;
}

.main {
  margin-left: 200px;
  padding: 20px;
  padding-top: 80px;
  width: calc(100% - 200px);
  overflow-y: auto;
  height: calc(100%-200px);
  transition: margin-left 0.3s, width 0.3s;
}

  /* Media Queries */
  @media (max-width: 768px) {
    .main {
      margin-left: 150px;
      width: calc(100% - 150px);
    }
    .search-bar input {
      width: 200px;
    }
  }
  
  @media (max-width: 480px) {
    .main {
      margin-left: 100px;
      width: calc(100% - 100px);
    }
    .card {
      flex-direction: column;
      align-items: flex-start;
    }
    .card img {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 320px) {
    .main {
      margin-left: 80px;
      width: calc(100% - 80px);
    }
    .card img {
      width: 60px;
      height: 60px;
    }
    .details h3 {
      font-size: 16px;
    }
    .details p {
      font-size: 14px;
    }
  }
  
